.active {
    color: gray;
    border-bottom: 2px solid rgb(18, 219, 206);
}

a {
    padding: 25px;
}


nav{
   display: flex;
   background-color: black;
   justify-content: space-between;
   align-items: center;
   padding: 0px 5%;
}

.innerNav{
  display: flex;    
  gap: 10%;
}


@media (max-width:600px) {
     nav{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
     }
     .innerNav{
        flex-direction: column;
     }
}